body {
    color: #2b2a28;
}
a{
    text-decoration: none;
}
/*NAVBAR*/
.navbar{
    font-family: 'Montserrat', sans-serif;
}
.definicion {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 3px 2px #2b2a28;
    color: white;
    font-size: x-large;
}
.nombre{
    font-family: 'Eb Garamond', serif;
    color: white;
    font-size: 4rem;
    text-shadow: 3px 3px 2px #2b2a28;
}
h2 {
    font-family: 'EB Garamond';
}

/*MAIN*/
.contenido{
    padding: calc(8px + 1.5625vw);
}
.title {
font-size: 3rem;
font-weight: 550;
margin-top: 0.5em !important;
}
 /*ABOUT*/
.about-myself {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    text-align: justify;
    vertical-align: middle;
}

/*PORTFOLIO*/
.comments {
    font-family: 'Montserrat', sans-serif;
    text-align: center ;
    vertical-align: middle;
    padding: 0.5em;
}
/*PORTFOLIO & WORKING*/
.card-text{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

/*WORKING*/
.position {
    font-family: 'EB Garamond';
    font-size: 2rem;
}
.place {
    font-family: 'Eb Garamond', serif;
    font-weight: bold;
    font-size: 1.3rem;
}
.date {
    font-family: 'Eb Garamond, serif'
}

/*PHOTOS*/
.label {
    font-family: 'Eb Garamond', serif;
    font-size: 2rem;
    text-shadow: 3px 3px 2px #2b2a28;
}

.pholder {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 3px 2px #2b2a28;
}

/*EDUCATION*/
.education{
    border-left: 10px solid #ac7443;
    background: rgb(172,116,67);
    background: linear-gradient(90deg, rgba(172,116,67,1) 0%, rgba(211,177,144,1) 0%, rgba(250,238,222,1) 100%);
}

.principal{ 
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.5rem;
    font-weight: bold !important;
}
.sub-principal{
    font-family: 'EB Garamond';
    font-weight: lighter;
}
.cred {
    padding: 1.5em;
    border-style: double;
    border-color: white;
    border-width: 10px;
    margin-bottom: 2em;
}
/*FOOTER*/
.iconos{
    align-items: center;
}
.icons{
    text-align: left;
}
.find-me{
    text-align: right;
}
