body {
    color: #2b2a28;
}
.navbar{
    font-family: 'Montserrat', sans-serif;
}
h2 {
    font-family: 'EB Garamond';
}

.about-myself {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    text-align: justify;
    vertical-align: middle;
}

.comments {
    font-family: 'Montserrat', sans-serif;
    text-align: center ;
    vertical-align: middle;
    padding: 1.5rem;
}

.principal{ 
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.5rem;
    font-weight: lighter !important;
}
.sub-principal{
    font-family: 'EB Garamond';
    font-weight: bold;
}

.definicion {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 3px 2px #2b2a28;
    color: white;
    font-size: x-large
}
.nombre{
    font-family: 'Eb Garamond', serif;
    color: white;
    font-size: 4rem;
    text-shadow: 3px 3px 2px #2b2a28;
}

.title {
font-size: 3rem;
font-weight: 550;
}
.place {
    font-family: 'Eb Garamond', serif;
    font-weight: bold;
    font-size: 1.3rem;
}
.date {
    font-family: 'Eb Garamond, serif'
}

.position {
    font-family: 'EB Garamond';
    font-size: 2rem;
}

.card-text{
    text-align: justify;
}

.cred {
    padding: 1.5em;
    border-style: double;
    border-color: white;
    border-width: 10px;
}
.borde {
    padding-bottom: 5em;
}
.borde2 {
    padding-bottom: 5.7em;
}
.iconos{
    align-items: center;
}

.icons{
    text-align: left;
}

.find-me{
    text-align: right;
}
